<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contribute-style.css">
    <link rel="stylesheet" href="/css/bottom-nav.css">
    <link rel="stylesheet" href="/css/header-style.css">
    <title>Document</title>
</head>
<body>
  <header>
    <img src="/assets/taxi tbg.png" alt="">
    <h1>Taxi Marshal</h1>
  </header>
  <p>Coming soon...</p>
    <nav>
        <ul>
          <li><a href="/">Explore</a></li>
          <li><a href="/library">Library</a></li>
          <li><a href="#">Contribute</a></li>
        </ul>
      </nav>
</body>
</html>